<?xml version="1.0" encoding="utf-8"?>
<plugin>
	<name>Messages</name>
	<key>mailbox</key>
	<description>Unified messaging plugin for private on-site communication with patches by Andrew Aubury</description>
    <author>Oxwall Foundation and AndrewAubury</author>
    <authorEmail>andrew@aubury.me</authorEmail>
	<authorUrl>https://andrew.aubury.me</authorUrl>
	<developerKey>e547ebcf734341ec11911209d93a1054</developerKey>
        <build>10800</build>
    <copyright>(C) 2011 Oxwall Foundation. All rights reserved.</copyright>
	<license>The BSD License</license>
    <licenseUrl>http://www.opensource.org/licenses/bsd-license.php</licenseUrl>
</plugin>
